name: Docker Image CI
on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      
      - name: Log in to GitHub Container Registry
        if: github.event_name == 'push'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build Docker image
        run: |
          docker build . --tag ghcr.io/inpvlsa/probefish:${{ github.sha }}
          docker build . --tag ghcr.io/inpvlsa/probefish:latest
      
      - name: Push Docker image
        if: github.event_name == 'push'
        run: |
          docker push ghcr.io/inpvlsa/probefish:${{ github.sha }}
          docker push ghcr.io/inpvlsa/probefish:latest
